.movieTicket{
	font-size: 20px;
	margin-left: 1em;
}
.selectOptions{
	margin-left: 40%;
}
.selectOptions h4{
	font-size: 30px;
	text-shadow:0 0 30px lightyellow;
	letter-spacing: 0.5em;
}
select{
	font-size: 20px;
}