
.select-options {
	margin-left: 35%;
	margin-top: 35px;
}

.select-options__title {
  font-size: 24px;
  text-shadow: 0 0 30px lightyellow;
  letter-spacing: 0.5em;
}

.select-options__cinemas, .select-options__date, .select-options__session-type{
	@include select-style;
	  &:focus{
      background-color: rgb(238, 238, 153);
		}
}

.session-selection {
	box-shadow: 0 0 20px lightgoldenrodyellow;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.session-selection__img {
  border-radius: 20px;
	transition-duration: 2s;
}

.session-selection__film {
	margin-right: 2%;
	flex: 0 0 25%;
  margin: 2px;
	order: 1;
	font-size: 20px;
	margin-left: 1em;
}
.session-selection__showing {
	flex: 0 0 65%;
	margin: 15px;
	order: 2;
}

.showing__place {
  font-size: 20px;
  border-radius: 10px;
	margin-bottom: 2em;
	padding: 0.5em;
	box-shadow: 0 0 20px lightgrey;
}

.showing__place__screening{
	display: inline-block;
	border-radius: 15px;
	border-color:$header-color;
	color: white;
	border-style: solid;
	cursor: pointer;
	margin: 8px;
	padding: 2px;
	  &:hover{
      background-color: $header-color;
		}
}

.session-selection__button {
	@include buttons-style;
	margin-top: 6px;
	background-color: $bkgd-color;
	border-color: $header-color;
	color: white;
	  &:hover{
			background-color: $header-color;
		}
}
@media  (max-width: 767px) { 
	.select-options {
		margin-top:70px;
		margin-left: 4%;
	}
	.select-options__title {
		font-size: 18px;
		letter-spacing: 0.1em;
	}
	.select-options__cinemas, .select-options__date, .select-options__session-type {
		@include select-style($size:14px);
	}
	.showing__place__screening {
		font-size: 14px;
		border-radius: 10px;
		margin-bottom: 1em;
	}
	.session-selection {
		margin-top: 1.5em;
		display: flex;
		flex-direction: column;
		margin-left: 1em;
		margin-right: 1em;
	}
	.session-selection__img {
		width:220px;
	}
	
}
@media  (min-width: 768px) and (max-width: 1200px) {
	.select-options {
		margin-left: 10%;
	}
	.room-place__select-film__img{
		width:90%;
	}
}
@media (min-width: 1200px){
	/* for buy-tickets page */
	.session-selection__img {
		width: 80%;
	}
}