.choice-time {
	position: absolute; 
	 top:140px;
	 right:30%; 
	 font-size: 24px;
	 font-weight: bolder;
	 color: beige;
 }
 .room-place {
	 margin-top: 80px;
	 display: flex;
 }
 .room-place__seats {
	 flex: 0 0 70%;
	 margin-left: 3%;
 } 
 .room-place__seats__img {
	 width: 70%;
	 margin-left:1%;
 }
 .room-place__select-film {
	 flex: 0 0 20%;
	 margin: 2px;
	 padding: 1em;
	 order: 2;
	 border-radius: 20px;
	 text-align: center;
	 box-shadow: 0 0 30px lightyellow;
 }
 
 .room-place__select-film__img{
	 border-radius: 20px;
 }
 @media  (max-width: 767px) { 
	.choice-time{
		font-size: 14px;
	}
	.room-place {
		margin: 1.5em;
		display: flex;
		flex-direction: column;
	}
	
	.room-place__seats__img {
		width: 90%;
		margin-left:3%;
	}
	
	.room-place__select-film__img {
		width:50%;
	}
 }
 @media (min-width: 1200px){
	/* for room-places page */
	.room-place__select-film__img{
		width:90%;
	}
	}
	