 @media  (max-width: 767px) { 
	
	.header__menu-button--media {
		display: block;
		position: absolute;
			right: 2px;
			top: 2px; 
			background-color: rgb(235, 127, 77);
			padding: 0.5em;
	padding-top: 2em;
	border-radius: 20px;
	transition-duration: 2s;
		}
		.menu-button{
			display: block;
			margin-bottom: 2em;
			width:90px;
			font-size: 10px;
			height: 40px;
		} 
		.header__menu-button{
			display: none;
		}
		/* media-menu */
		input.More7
    {display: none;}
 input.More7 + label + div
		{  display: none; }
  input.More7:checked + label + div
    {
				display: block;
    }
    input.More7 + label
    {
        text-decoration: underline;
				cursor: pointer;
    }
    input.More7:checked + label
    {
				display: none;
    }
 input.More7 + label + div + input + label
    {
        display: none;
        text-decoration: underline;
				cursor: pointer;
    }
 input.More7:checked + label + div + input + label
    {
				display: block;
    }

.icon-menu3 {
  width: 1.375em;
}
	
		
		.header__logo {
			font-size: 22px;
			padding-left: 3%;
			padding-right: 2%;
			padding-bottom: 15px;
		}
	
		.films-soon {
			display: none;	
		}

		.films-now {
			flex: 0 0 80%;
			margin: auto;
			padding: 0.5em;
		margin-top: 1em;
		}
	.films-now__flex-conteiner__film {
		width:50%;
	}
	.films-now__flex-container__img {
		width:110px;
	}
	.films-soon__flex-container__film {
		width:50%;
	}
	.films-soon__flex-container__img {
		width:85%;
	}

	h4 {
		font-size: 16px;
	}

}

	@media  (min-width: 768px) and (max-width: 1200px){
		.header__menu-button {
		position: absolute;
		 left: 2px;
		 top: 2px; 
		 background-color: rgb(235, 127, 77);
		 padding: 0.5em;
 padding-top: 0.5em;
 border-radius: 20px;
 transition-duration: 2s;
	 }
	 
.aside {
	margin: 1.5em;
	display: flex;
flex-direction: column;
}
.films-soon, .films-now {
	flex: 0 0 90%;
	margin-right: 2%;
	
}


} 