/* for main page */
body {
	background-color: rgb(70, 69, 69);
	margin: 0;
}

.header__city {
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	font-weight: bolder;
	text-shadow: 0 0 10px rgb(192, 184, 184);
	letter-spacing: 4px;
	color: rgb(177, 58, 10);
	display: inline-block;
	position: absolute;
	top:80px;
	left: 10px;
}
.header__search{
	display:inline-block;
	position: absolute;
	top: 85px;
	left: 40%; 
}
.header__login-button {
	background-color: darkorange;;
	position:absolute;
	right:8px;
	top:8px;
}

.header__search__inp {
	border-radius: 6px;
	outline:0;
	font-size: 16px;
	background-color:lightgrey;
}
.header__search__inp:focus {
	background-color: rgb(238, 238, 153);
	}

.header__change-city {
	border-radius: 6px;
	outline:0;
	font-size: 18px;
	background-color:lightgrey;
	display: inline-block;
	margin-left: 30px;
}

.header__change-city:focus {
	background-color: rgb(238, 238, 153);
}

.header__search__button {
	background-color:darkorange;
	height: 28px;
	outline:0;
	cursor: pointer;
}

.header {
  background-color: darkorange;
  position: relative;
  height: 120px;
}

.header__logo {
  font-family: 'Fascinate Inline', cursive;
  font-size: 44px;
  display: inline-block;
	padding-bottom: 45px;
}

/* menu buttons style*/
.header__menu-button {
	display: inline-block;
	position: absolute;
  right: 1%;
  top: 85px;
  transition-duration: 2s;
}
.menu-button{
	background-color: darkorange;
}
.header__menu-button--media {
	display: none;
}
/*all buttons style*/
.button { 
  font-family: 'Prosto One', cursive;
  color: black;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  border-color: #56756c;
  border-width: 2px;
  cursor: pointer;
	outline: 0;
	height:30px;
}
.button:hover{
	background-color: rgb(70, 69, 69);
	color: white;
	transition-duration: 0.5s;
}
/* for home page */
.home {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;
	margin-top: 40px;
}

 .home__film {
	margin: 2%;
} 
.home__img{
	border-radius: 20px;
	box-shadow: 0 0 30px rgb(231, 206, 160);
}
.home__button {
	margin-top: 10px;
	margin-left:30px;
	background-color: rgb(70, 69, 69);
	border-color: darkorange;
	color: white;
	width:80px;
}
.home__button:hover{
	background-color: darkorange;
}
/* for aside page and movies pages*/
.movies {
  margin: 1.5em;
  display: flex;
  justify-content:flex-start;
}
/* block of film coming soon*/
.films-soon {
	flex: 0 0 20%;
	margin: 2px;
	padding: 1em;
	order: 2;
	background-color: rgb(70, 69, 69);
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
}

/* block of film showing now*/
.films-now {
	flex: 0 0 70%;
	margin-right:3%;
	order: 1;
	padding: 2em;
	padding-bottom: 2em;
	background-color: rgb(70, 69, 69);
	border-radius: 20px;
  text-align: center; 
	box-shadow: 0 0 30px lightyellow;
}
h4 {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	letter-spacing: 3px;
	text-shadow: 0 0 30px lightgrey;
}

.films-soon__flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.films-now__flex-conteiner {
	/* display: -webkit-flex;
	-webkit-flex-flow: row wrap; */
	display: flex;
	flex-flow: row wrap;
	justify-content:flex-start;
}
.films-soon__flex-container__film {
	margin: auto;
	padding: 0.5em;
	margin-bottom: 1em;
	border-radius: 20px;
	-webkit-flex: 0;
	flex:0;
}
.films-soon__flex-container__img {
  width: 80px;
	cursor: pointer;
	border-radius: 15px;
}

.description-film {
  display: none;
}

.films-now__flex-conteiner__film {
  margin: auto;
  padding: 0.5em;
  margin-bottom: 1em;
	-webkit-flex: 0;
	flex:0;
}

.films-now__flex-container__img {
	width: 180px;
	border-radius: 20px;
}

.films-now__button {
	font-size: 12px;
	display: inline-block;
	background-color: rgb(70, 69, 69);
	border-color: darkorange;
	color:white;
	margin-left: 5px;
}
.films-now__button:hover{
	background-color: darkorange;
}

.soonCinemaButton{
	display: none;
}
/* for buy-tickets page */
.select-options {
	margin-left: 35%;
	margin-top: 35px;
}


.select-options__cinemas, .select-options__date, .select-options__session-type{
	display: inline-block;
	font-size: 20px;
	border-radius: 6px;
	outline:0;
	background-color: lightgray;
} 

.select-options__cinemas:focus, .select-options__date:focus, .select-options__session-type:focus {
	background-color: rgb(238, 238, 153);
}

.session-selection {
	box-shadow: 0 0 20px lightgoldenrodyellow;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.session-selection__img {
  border-radius: 20px;
	transition-duration: 2s;
}

.session-selection__film {
	margin-right: 2%;
	flex: 0 0 25%;
  margin: 2px;
	order: 1;
	font-size: 20px;
	margin-left: 1em;
}
.session-selection__showing {
	flex: 0 0 65%;
	margin: 15px;
	order: 2;
}

.showing__place {
  font-size: 20px;
  border-radius: 10px;
	margin-bottom: 2em;
	padding: 0.5em;
	box-shadow: 0 0 20px lightgrey;
}

.showing__place__screening{
	display: inline-block;
	border-radius: 15px;
	border-color:darkorange;
	color: whitesmoke;
	border-style: solid;
	cursor: pointer;
	margin: 8px;
	padding: 2px;
}
.showing__place__screening:hover{
	background-color: darkorange;
}
.session-selection__button {
	margin-top: 6px;
	background-color: rgb(70, 69, 69);
	border-color: darkorange;
	color: white;
}
.session-selection__button:hover{
	background-color: darkorange;
}
/* for Cinemas page */
.cinemas {
	margin-top: 80px;
	
}
.home__button--cinema{
		margin-top: 10px;
		margin-left:30px;
		background-color: rgb(70, 69, 69);
		border-color: darkorange;
		color: white;
		height: 40px;
		width:120px;
	}
.home__button--cinema:hover{
		background-color: darkorange;
	}

.cinema {
	font-size: 20px;
  border-radius: 10px;
	padding: 0.5em;
	margin: 10px;
	box-shadow: 0 0 20px lightgrey;
	font-family: 'Prosto One', cursive;
	display: flex;
	flex-direction:nowrap row;
	justify-content: space-around;
}
.cinema__description{
	flex:0 0 30%;
	order:2;
	margin: 10px;
}
.cinema__img{
	flex:0 0 30%;
	order:3;
}
.cinema__img img{
	border-radius: 30px;
}
.cinema__title{
	order:1;
	flex:0 0 30%;
}
/* for choose-seats page */

.choice-time {
 position: absolute; 
  top:140px;
	right:30%; 
	font-size: 24px;
	font-weight: bolder;
	color: beige;
}
.room-place {
	margin: 1.5em;
	display: flex;
}
.room-place__seats {
	flex: 0 0 75%;
} 
.room-place__seats__img {
	width: 70%;
	margin-left:1%;
}
.room-place__select-film {
	flex: 0 0 20%;
	margin: 2px;
	padding: 1em;
	order: 2;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
}

.room-place__select-film__img{
	border-radius: 20px;
}

/* for authorisation page */

.login-join {
	margin: 100px;
	display: flex;
	border-radius: 20px;
	justify-content: space-around;
}
.enter-block, .register-block {
	flex: 0 0 40%;
	margin: 2px;
	padding: 2em;
	padding-bottom: 2em;
	background-color: lightgrey;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
}

.login-join_btn {
	width:80px;
	background-color: darkorange;
	height:30px;
}
.login-join_btn:hover{
	background-color:rgb(70, 69, 69);
}
.login-join__add {
	margin-bottom: 1em;
	font-size: 20px;
	transition-duration: 2s;
	outline: 0;
	border-radius: 6px;
	width:70%;
	background-color: lightgrey;
}
.login-join__add:focus {
	background-color: rgb(238, 238, 153);
}
.login-join__info{
	display:block;
}
/* for admin page */
.admin-info__elem {
	margin-top: 2em;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2em;
	padding-bottom: 2em;
	background-color: lightgrey;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
	font-family: 'Prosto One', cursive;
	font-size: 20px;
}

.admin-info__inp {
	font-size: 20px;
	width:50%;
	margin-bottom: 1em;
	font-size: 20px;
	transition-duration: 2s;
	outline: 0;
	border-radius: 6px;
	width:70%;
	background-color: lightgrey;
	}

.admin-info__inp:focus {
	background-color: rgb(238, 238, 153);
	}
.admin-info__lab {
	display: block;
}
.admin-info__select {
	font-size: 20px;
	width:70%;
	margin-bottom: 1em;
	border-radius: 6px;
	background-color: lightgrey;
	outline: 0;
}
.admin-info__select:focus {
	background-color: rgb(238, 238, 153);
	}
.admin-info__description {
	resize: none;
	width:70%;
	border-radius: 6px;
	background-color: lightgrey;
	outline: 0;
}
.admin-info__description:focus {
	background-color: rgb(238, 238, 153);
}
.admin{
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 22px;
	font-family: 'Prosto One', cursive;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} 
.admin-info__services{
  display: inline-block;
  margin: auto;
}
.admin-info__option{
	width: 50px;
	background-color: lightgrey;
	outline:0;
	border-radius: 3px;
}
.admin-info__option:focus {
	background-color: rgb(238, 238, 153);	
}
.admin-info__select-service {
	display: inline-block;
	margin-bottom: 8px;
}
@media  (max-width: 767px) { 
	/* media for header */

.header__menu-button--media {
	display: block;
	position: absolute;
	right: 5px;
	top: 40px; 
	background-color:  darkorange;
	padding: 0.5em;
	padding-top: 2em;
	border-radius: 20px;
	transition-duration: 2s;
	box-shadow: 0 0 10px lightgrey;
}

.header__menu-button {
	display: none;
}
/* media-menu */
.change-menu {
	display: none;
}
.open-menu__title{
	font-family: 'Prosto One', cursive;
	font-weight: bolder;
	font-size:12px;
}
.header__menu-button--burger {  
	display: none; 
}
.change-menu:checked + label + .header__menu-button--burger  {
	display: block;
}
.change-menu + label {
	cursor: pointer;
}
.change-menu:checked + label {
	display: none;
}
.change-menu + label + .header__menu-button--burger  + input + label {
  display: none;
	cursor: pointer;
}
.change-menu:checked + label + .header__menu-button--burger  + input + label {
	display: block;
}

.header__change-city{
	display:block;
	margin:0;
}
.header__logo {
  font-size: 30px;
  padding-left: 4%;
}
.header__search{
	top:50px;
	left:10px;
}
/* for movies page */
.films-soon {
	display: none;	
}

.films-now {
	flex: 0 0 80%;
	margin: auto;
	padding: 0.5em;
  margin-top: 1em;
}
.films-now__flex-conteiner__film {
	width:120px;
}

.films-now__flex-container__img {
	width:110px;
}

h4 {
	font-size: 16px;
}
/* media for buy-tickets page */
.select-options {
	margin-top:70px;
	margin-left: 4%;
}
.select-options__title {
  font-size: 18px;
  letter-spacing: 0.1em;
}
.select-options__cinemas, .select-options__date, .select-options__session-type {
  font-size: 12px;
}
.showing__place__screening {
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 1em;
}
.session-selection {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}
.session-selection__img {
  width:220px;
}
 .menu-button{
  font-size: 12px;
	width: 70px; 
	height: 40px;
	display: block;
	margin-bottom: 2em;
} 

/* for choose-seats page */
.choice-time{
	font-size: 14px;
}
.room-place {
	margin: 1.5em;
	display: flex;
	flex-direction: column;
}

.room-place__seats__img {
	width: 90%;
	margin-left:3%;
}

.room-place__select-film__img {
  width:50%;
}
/* for authorisation page */
.login-join {
	width: 70%;
	margin-top:70px;
	flex-direction: column;
	transition-duration: 2s;
}
.login-join__add{
	font-size: 10px;
}
/* for admin page */
.admin-info__select{
	font-size: 14px;
	width:90%
}
.admin-info__inp{
	font-size: 14px;
	width:90%;
}
.admin-info__elem{
	font-family: 'Prosto One', cursive;
	font-size: 14px;
}
.admin-info__option{
	width: 40px;
}
.admin-info__description {
	width:90%;
}
/* for cinemas page */
.cinemas {
	margin-top: 70px;
	
}
.home__button--cinema{
		height: 30px;
	}
.cinema {
	font-size: 14px;
	flex-direction:column;
}

.cinema__img img{
	border-radius: 30px;
	width: 80%;
}
.cinema__title{
	order:1;
	flex:0 0 30%;
}
}

@media  (min-width: 768px) and (max-width: 1200px) {
	/* for header page */
.header__menu-button {
  position: absolute;
	left: 280px;
	top: 4px; 
	padding: 0.5em;
  padding-top: 0.5em;
  border-radius: 20px;
}
.header__login-button{
	top:20px;
} 
.movies {
	margin: 1.5em;
	display: flex;
  flex-direction: column;
}
.films-soon, .films-now {
	flex: 0 0 90%;
	margin-right: 2%;	
}
/* for buy-tickets page */
.select-options {
	margin-left: 10%;
}
.room-place__select-film__img{
	width:90%;
}
/* for authorisation page */
.login-join {
	width: 80%;
  transition-duration: 2s;
}
/* for cinemas page */
.cinema {
	font-size: 18px;
	flex-direction:column;
}

} 
@media (min-width: 1200px){
/* for buy-tickets page */
.session-selection__img {
	width: 80%;
}
/* for room-places page */
.room-place__select-film__img{
	width:90%;
}
}
