
body {
	background-color: $bkgd-color;
	margin: 0;
}
.user {
	display: inline-block;
	width: 2em;
	height: 2em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	margin-right: 2px;
	&:hover{
		box-shadow: 0 0 20px white;
		border-radius: 20px;
		padding: 2px;	
	}
  }
.header__city {
	@include titles-style;
	text-shadow: 0 0 10px lightgray;
	color: rgb(177, 58, 10);
	display: block;
	margin-top: 30px;
	margin-left:10px;
}
.header__search{
	display:inline-block;
	position: absolute;
	top: 85px;
	left: 40%; 
}

.changeMenubtn{
	display: none;
}
.header__search__inp {
	border-radius: 6px;
	outline:0;
	font-size: 20px;
	width: 280px;
	background-color:lightgrey;
	  &:focus{
      background-color: rgb(238, 238, 153);
		}
}
.filmNameSearch{
	position: absolute;
	top: 30px;
	background-color:$header-color;
	font-family: $context-font;
	font-size: 13px;
	border-radius: 20px;
	box-shadow: 0 0 20px lightyellow;
}
.header__change-city {
	width: 190px;
	font-family: $context-font;
	outline:0;
	@include select-style($size:13px);
	  &:focus{
		  background-color: rgb(238, 238, 153);
	 }
	 display:inline-block;
}
.city{
	display: inline-block;
}

.header {
  background-color: $header-color;
height: 130px;
 display:flex;

}
.headerMenu{
	display:inline-block;
}

.header__logo {
  font-family: $logo-style;
	font-size: 44px;
	height: 40px;
  display: inline-block;
margin-top: 20px;
	margin-left:40px;
	color:black;
	 &:hover{
		 text-shadow: 0 0 20px white;
	 }
}
.spacer{
	flex:1;
}
/* menu buttons style*/
.header__menu-button {
	display: inline-block;
	padding-top: 10px;
  transition-duration: 2s;
  display: flex;
}

.header__menu-button--media {
	display: none;
}

.menu-button{
	@include buttons-style;
	background-color: $header-color;
	  &:hover{
		  background-color:$bkgd-color;
		  transition-duration: 0.5s;
		  color: white;
	 }
}

h4 {
	font-family: $titles-font;
	font-size: 28px;
	letter-spacing: 3px;
	text-align: center;
	text-shadow: 0 0 30px black;
	color: whitesmoke;
}

@media  (max-width: 767px) { 
	/* media for header */
h4 {
	font-size: 16px;
}
.header__menu-button--media {
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	max-width:300px;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color:  $header-color;
	opacity: 0.8;
	padding: 0.5em;
	padding-top: 2em;
	transition-duration: 3s;
	box-shadow: 0 0 10px lightgrey;
}

.changeMenubtn{
	display: block;
	position:fixed;
	left: 10px;
}
.media-btn__close{
padding-left: 200px;
background-color: transparent;
border-color:transparent;
}
.header__search__inp {
	border-radius: 6px;
	outline:0;
	font-size: 20px;
	width: 200px;
	background-color:lightgrey;
	  &:focus{
      background-color: rgb(238, 238, 153);
		}
}
.header__city{
display:none;
}
.menu-button{
	@include buttons-style($font-size: 12px, $height:40px);
	width: 85px; 
	display: block;
	margin: 2.5em 0;
	margin-left: 20px;
} 
.media-btn__isOpen{
  text-align: center;
  background-color: transparent;
	border-color:transparent;
	border-radius:10px;
	box-shadow: 0 0 20px lightgrey;
  cursor: pointer;
	outline: 0;
}
.header__menu-button {
	display: none;
}

.header__change-city{
	display:block;
	margin:0;
}
.header__logo {
	font-size: 28px;
	width: 100%;
margin-left: 80%;
}

.spacer{
	display:none;
}

}
@media  (min-width: 768px) and (max-width: 1200px) {

	.header__login-button{
		top:20px;
	} 
	.movies {
		margin: 1.5em;
		display: flex;
		flex-direction: column;
	}
	.films-soon, .films-now {
		flex: 0 0 90%;
		margin-right: 2%;	
	}
}

