
.home {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;
	margin-top: 40px;
}

.home__film {
	margin: 2%;
} 
.home__img{
	border-radius: 20px;
	box-shadow: 0 0 30px rgb(231, 206, 160);
}
.home__button {
	@include buttons-style;
	margin-top: 10px;
	margin-left:30px;
	background-color:$bkgd-color;
	border-color: $header-color;
	color: white;
	width:80px;
	  &:hover{
			background-color: $header-color;
		}
}
